.step-title {
    font-weight: 700;
}

.step-title,
.step-content {
    font-size: 13px;
    word-break: keep-all;
}

.tg-dialog .tg-dialog-footer button.tg-dialog-btn{
    font-size: 12px;
}

.tgOnOff {
    color: #DB2A34 !important;
}

.tg-dialog .tg-dialog-footer {
    padding: 0;
}

.tg-dialog {
    color: #f8f8f8;
    background: rgb(51, 51, 51);
}

.tg-dialog .tg-arrow {
    background: rgb(51, 51, 51);
}

.tg-dialog-close-btn {
    fill: #f8f8f8;
}