.form-control {
    color: black;
    min-height: 38px;
}

.container .content {
    padding-bottom: 0px;
}

/* 파일 관련 CSS */
.portfolio .portfolio-wrap .portfolio-info {
    overflow-wrap: anywhere;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 18px!important;
    color: #45505b;
    font-weight: 600;
}

@media (min-width: 1px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

@media (min-width: 576px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 14px!important;
    }
}

@media (min-width: 768px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

@media (min-width: 992px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}
.slimScrollDiv{
    height:712px !important;
}
#req_tree{
    height:712px !important;
}


/* QnA 게시판 관련 CSS */
.chat-btn {
    margin-right: 10px;
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-shadow: none;
    font-weight: normal;
    font-size: 11.05px;
    background-color: #56bc76;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
    padding: 2px 6px;
    line-height: 1.5;
    border-radius: 0;
}

.edit-chat-btn {
    background-color: #56bc76;
    transition: background-color 0.2s;
}

.delete-chat-btn {
    background-color: #e5603b;
}

.send-btn {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    /* -webkit-user-select: none; */
    -moz-user-select: none;
    /* user-select: none; */
    /* background-color: transparent; */
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.send-chat-btn {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background: rgba(51,51,51,0.4);
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    cursor: pointer;

}

.user-id {
    color: #3264bf;
    font-weight: bolder;
    text-decoration: none;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}
.box .icon, .box .big-text {
    margin-top: 15px;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    font-weight: bold;
}

/***********************************/
/**          WIDGET               **/
/**********************************/
.widget {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 12px;
    color: #666;
    /*background: rgba(51, 51, 51, 0.4);*/
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin-bottom: 30px;
    position: relative;
}

.widget.large {
    /*height: 600px;*/
    width: 90%;
    margin: 2%;
}

.widget .body {
    margin-top: 10px;
}
.widget > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0 0;
}

/***********************************/
/**          CHAT                 **/
/**********************************/
.chat-messages {
    /*padding-right: 15px;*/
}

.chat-footer {
    width: 100%;
    /* bottom: 25px; */
    /* position: absolute; */
    /*height: 40px;*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 10px;
    margin-bottom: 10px;
}
.chat-footer input {
    margin-bottom: 0;
}

.chat-message:before, .chat-message:after {
    content: " ";
    display: table;
}
.chat-message:after {
    clear: both;
}
.chat-message .icon {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 53px;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
    border-radius: 53px;
}
.chat-message .icon img {
    position: relative;
    top: -2px;
    width: 50px;
    height: 50px;
}
.chat-message .time {
    font-size: 11.05px;
    line-height: 1.5em;
    text-align: center;
    color: #d2d2d2;
}

.sender .write-time {
    font-size: 11.05px;
    line-height: 1.5em;
    text-align: center;
    color: #595151;
}

.chat-message + .chat-message {
    margin-top: 10px;
}

.chat-message-body {
    margin-left: 63px;
    padding: 8px 10px;
    background: #dedede;
    position: relative;
    border-left: 3px solid #666;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}
.chat-message-body.on-left {
    margin-left: 0;
    margin-right: 63px;
    border-left: none;
    border-right: 3px solid #666;
    background: #e9ecef;
}
.chat-message-body.on-left .arrow {
    left: auto;
    right: -7px;
    border-right: none;
    border-left: 5px solid #666;
}
.chat-message-body.on-left .sender, .chat-message-body.on-left .text {
    text-align: right;
}
.chat-message-body .arrow {
    display: block;
    position: absolute;
    top: 21px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #666;
}

.col-xs-9 {
    width: 75%;
}

.col-xs-3 {
    width: 25%;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.eot?v=4.0.3");
    src: url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-double-up:before {
    content: "\f102";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}
.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.page-item {
    display: inline; /* instead of inline-block */
}

.page-item > a {
    position: relative;
    float: left;

    /* 동그란 모양을 만들기 위한 스타일 */
    border-radius: 50%;
    width: 30px; /* 원하는 크기로 조정하세요 */
    height: 30px; /* 원하는 크기로 조정하세요 */
    line-height :30px; /* height와 같게 설정하세요 */

    text-align:center;

    color:#808080; /* 폰트 색상 변경 */

    background-color:#fff;

    border:none;
    text-decoration:none;
    cursor: pointer;
    /*transition : background-color .3s, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/

    margin-right :10px ;/* 페이지 아이템 간의 간격 설정*/
    /*box-shadow :0px 0px 5px #808080;!* 그림자 효과 추가 *!*/
}

.page-item:nth-child(1) > a,
.page-item:nth-child(2) > a,
.page-item:nth-last-child(2) > a,
.page-item:last-child > a {
    border-radius :50%;
    width :30px ; height :30px ;
    line-height :30px ;
}

.page-item.active > a,
.page-link:focus,
.page-link:hover {
    /*font-weight: bold;*/
    color:#fff !important;/* 활성화 또는 호버 상태에서의 텍스트 색상 변경 */
    background-color: #0563bb!important;/* 배경색 변경 */
}

.page-item > a:hover {
    /*font-weight: bold;*/
    color:#fff !important;/* 활성화 또는 호버 상태에서의 텍스트 색상 변경 */
    background-color: #0563bb!important;/* 배경색 변경 */
}

@media (max-width: 600px) {
    .page-item > a {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
    }

    .page-item:nth-child(1) > a,
    .page-item:nth-child(2) > a,
    .page-item:nth-last-child(2) > a,
    .page-item:last-child > a {
        border-radius :50%;
        width :20px ; height :20px ;
        line-height :20px ;
    }
}