.form-control {
    color: black;
    min-height: 38px;
}

.container .content {
    padding-bottom: 0px;
}

.shadow-box {
    border-top: 3px solid #d2d6de;
    box-shadow: 0 0.525rem 2.55rem rgba(0,0,0,.075) !important;
}
/* 파일 관련 CSS */
.portfolio .portfolio-wrap .portfolio-info {
    overflow-wrap: anywhere;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 18px!important;
    color: #45505b;
    font-weight: 600;
}

@media (min-width: 1px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

@media (min-width: 576px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 14px!important;
    }
}

@media (min-width: 768px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

@media (min-width: 992px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}
.slimScrollDiv{
    height:712px !important;
}
#req_tree{
    height:712px !important;
}


/* QnA 게시판 관련 CSS */
.chat-btn {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-shadow: none;
    font-weight: normal;
    font-size: 14px;
    /*background-color: #56bc76;*/
    color: #fff;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
    padding: 2px 6px;
    line-height: 1.5;
    border-radius: 0;
    align-items: center;
}

.edit-chat-btn {
    background-color: rgba(255,255,255,0);
}

.delete-chat-btn {
    background-color: rgba(255,255,255,0);
}

.user-id {
    color: #3264bf;
    font-weight: bolder;
    text-decoration: none;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}
.box .icon, .box .big-text {
    margin-top: 15px;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    font-weight: bold;
}

/***********************************/
/**          WIDGET               **/
/**********************************/
.widget {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 12px;
    color: #666;
    /*background: rgba(51, 51, 51, 0.4);*/
    /*border: 1px solid #ced4da;
    border-radius: 0.25rem;*/
    margin-bottom: 30px;
    position: relative;
}

.widget.large {
    /*height: 600px;*/
    /*width: 100%;*/
    margin: 2%;
}

.widget .body {
    margin-top: 10px;
}
.widget > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0 0;
}

/***********************************/
/**          CHAT                 **/
/**********************************/
.chat-messages {
    /*padding-right: 15px;*/
}

.chat-message:before, .chat-message:after {
    content: " ";
    display: table;
}
.chat-message:after {
    clear: both;
}
.chat-message .icon {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 53px;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
    border-radius: 53px;
}
.chat-message .icon img {
    position: relative;
    top: -2px;
    width: 50px;
    height: 50px;
}
.chat-message .time {
    font-size: 11.05px;
    line-height: 1.5em;
    text-align: center;
    color: #d2d2d2;
}

.sender .write-time {
    font-size: 11.05px;
    line-height: 1.5em;
    text-align: center;
    color: #595151;
}

.chat-message + .chat-message {
    margin-top: 10px;
}

.chat-message-body {
    margin-left: 63px;
    padding: 8px 10px;
    background: #dedede;
    position: relative;
    border-left: 3px solid #666;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}
.chat-message-body.on-left {
    margin-left: 0;
    margin-right: 63px;
    border-left: none;
    border-right: 3px solid #666;
    background: #e9ecef;
}
.chat-message-body.on-left .arrow {
    left: auto;
    right: -7px;
    border-right: none;
    border-left: 5px solid #666;
}
.chat-message-body.on-left .sender {
    text-align: right;
    display: inline-block;
    float: right;
}

.chat-message-body.on-left .text {
    text-align: right;
}

.chat-message-body .arrow {
    display: block;
    position: absolute;
    top: 21px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #666;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.eot?v=4.0.3");
    src: url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-double-up:before {
    content: "\f102";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}
.pagination-container {
    text-align: center;
    height: 60px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.page-item {
    display: inline; /* instead of inline-block */
}

.page-item > a {
    position: relative;
    float: left;

    /* 동그란 모양을 만들기 위한 스타일 */
    border-radius: 50%;
    width: 30px; /* 원하는 크기로 조정하세요 */
    height: 30px; /* 원하는 크기로 조정하세요 */
    line-height :30px; /* height와 같게 설정하세요 */

    text-align:center;

    color:#808080; /* 폰트 색상 변경 */

    background-color:#fff;

    border:none;
    text-decoration:none;
    cursor: pointer;
    /*transition : background-color .3s, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/

    margin-right :10px ;/* 페이지 아이템 간의 간격 설정*/
    /*box-shadow :0px 0px 5px #808080;!* 그림자 효과 추가 *!*/
}

.page-item:nth-child(1) > a,
.page-item:nth-child(2) > a,
.page-item:nth-last-child(2) > a,
.page-item:last-child > a {
    border-radius :50%;
    width :30px ; height :30px ;
    line-height :30px ;
}

.page-item.active > a,
.page-link:focus,
.page-link:hover {
    /*font-weight: bold;*/
    color:#fff !important;/* 활성화 또는 호버 상태에서의 텍스트 색상 변경 */
    background-color: #0563bb!important;/* 배경색 변경 */
}

.page-item > a:hover {
    /*font-weight: bold;*/
    color:#fff !important;/* 활성화 또는 호버 상태에서의 텍스트 색상 변경 */
    background-color: #0563bb!important;/* 배경색 변경 */
}

@media (max-width: 600px) {
    .page-item > a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .page-item:nth-child(1) > a,
    .page-item:nth-child(2) > a,
    .page-item:nth-last-child(2) > a,
    .page-item:last-child > a {
        border-radius :50%;
        width :25px; height :25px;
        line-height :25px ;
    }
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader .spinner {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;
    font-size: 20px;
    text-align: center;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.hide {
    display: none !important;
}

.darkBack {
    background: rgba(51, 51, 51, 0.4) !important;
    border: 1px solid rgba(51, 51, 51, 0.425) !important;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-spinner:before {
    content: "";
}

.dropdown-button {
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    font-size: 15px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    border-radius: 5%;
}
.dropdown-content button {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover { background-color: #e7e7e7; }
.dropdown:hover .dropdown-content {
    display: inline-block;
    z-index: 9999;
}
/*.dropdown:hover .dropdown-button { background-color: #8c8c8c;}*/

.fa-ellipsis-v:before {
    content: "";
}

.fa-trash-o:before {
    content: "\f014";
}

.fa-edit:before {
    content: "\f044";
}

.edit-text {
    width: 100%;
    margin-top: 10px;
}

.cancel-button {
    background-color: rgba(255,255,255,0);
}

.edit-save-button {
    background-color: rgba(255,255,255,0);
}

/* 게시글 생성 부분 */

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin: 2%;
    /*width: 100%;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    padding: 10px 12px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.pad {
    padding: 10px
}

.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after {
    content: " ";
    display: table
}

.box-header:after,.box-body:after,.box-footer:after {
    clear: both
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.collapsed-box .box-header.with-border {
    border-bottom: none
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    /*background-color: #fff;*/
    border-color: #ccc!important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#comment-contents {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}