.form-control {
    color: black;
    min-height: 38px;
}

.container .content {
    padding-bottom: 0px;
}

.shadow-box {
    padding: 12px 10px 12px 10px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 0.525rem 2.55rem rgba(0,0,0,.075) !important;
}

/* 파일 관련 CSS */
.portfolio .portfolio-wrap .portfolio-info {
    overflow-wrap: anywhere;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 18px!important;
    color: #45505b;
    font-weight: 600;
}

@media (min-width: 1px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

@media (min-width: 576px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 14px!important;
    }
}

@media (min-width: 768px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

@media (min-width: 992px) {
    .portfolio .portfolio-wrap .portfolio-info h4 {
        font-size: 16px!important;
    }
}

/* 트리 색상 변경 */
.jstree-lightblue4 .jstree-hovered { color: #ffffff; background-color: rgba(255, 106, 0, 0.60) !important; border-color: rgba(0, 0, 0, 0.15); padding:0 2px 0 1px; }
.jstree-lightblue4 .jstree-clicked { color: #ffffff; background-color: #ffee58!important; border-color: rgba(0, 0, 0, 0.15); padding:0 2px 0 1px; }
.about .content ul li:last-child {
    margin-bottom: 0px!important;
}

/* QnA 게시판 관련 CSS */
.chat-btn {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    text-shadow: none;
    font-weight: normal;
    font-size: 14px;
    /*background-color: #56bc76;*/
    color: #fff;
    text-align: right;
    white-space: nowrap;
    vertical-align: baseline;
    border: none;
    border-color: rgba(0,0,0,0.15) rgba(0,0,0,0.15) rgba(0,0,0,0.25);
    padding: 2px 6px;
    line-height: 1.5;
    border-radius: 0;
    align-items: center;
}

.edit-chat-btn {
    background-color: rgba(255,255,255,0);
}

.delete-chat-btn {
    background-color: rgba(255,255,255,0);
}

.user-id {
    color: #3264bf;
    font-weight: bolder;
    text-decoration: none;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.fa.pull-left {
    margin-right: .3em;
}
.fa.pull-right {
    margin-left: .3em;
}
.box .icon, .box .big-text {
    margin-top: 15px;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    font-weight: bold;
}

/***********************************/
/**          WIDGET               **/
/**********************************/
.widget {
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 12px;
    color: #666;
    /*background: rgba(51, 51, 51, 0.4);*/
    /*border: 1px solid #ced4da;
    border-radius: 0.25rem;*/
    margin-bottom: 30px;
    position: relative;
}

.widget.large {
    /*height: 600px;*/
    /*width: 100%;*/
    margin: 2%;
}

.widget .body {
    margin-top: 10px;
}
.widget > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px 0 0;
}

/***********************************/
/**          CHAT                 **/
/**********************************/
.chat-messages {
    /*padding-right: 15px;*/
}

.chat-message:before, .chat-message:after {
    content: " ";
    display: table;
}
.chat-message:after {
    clear: both;
}
.chat-message .icon {
    position: relative;
    z-index: 1;
    text-align: center;
    width: 53px;
    height: 53px;
    line-height: 53px;
    vertical-align: middle;
    -webkit-border-radius: 53px;
    -moz-border-radius: 53px;
    -ms-border-radius: 53px;
    -o-border-radius: 53px;
    border-radius: 53px;
}
.chat-message .icon img {
    position: relative;
    top: -2px;
    width: 50px;
    height: 50px;
}
.chat-message .time {
    font-size: 11.05px;
    line-height: 1.5em;
    text-align: center;
    color: #d2d2d2;
}

.sender .write-time {
    font-size: 11.05px;
    line-height: 1.5em;
    text-align: center;
    color: #595151;
}

.chat-message + .chat-message {
    margin-top: 10px;
}

.chat-message-body {
    margin-left: 63px;
    padding: 8px 10px;
    background: #dedede;
    position: relative;
    border-left: 3px solid #666;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
}
.chat-message-body.on-left {
    margin-left: 0;
    margin-right: 63px;
    border-left: none;
    border-right: 3px solid #666;
    background: #e9ecef;
}
.chat-message-body.on-left .arrow {
    left: auto;
    right: -7px;
    border-right: none;
    border-left: 5px solid #666;
}
.chat-message-body.on-left .sender {
    text-align: right;
    display: inline-block;
    float: right;
}

.chat-message-body.on-left .text {
    text-align: right;
}

.chat-message-body .arrow {
    display: block;
    position: absolute;
    top: 21px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #666;
}

@font-face {
    font-family: 'FontAwesome';
    src: url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.eot?v=4.0.3");
    src: url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.eot?#iefix&v=4.0.3") format("embedded-opentype"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.woff?v=4.0.3") format("woff"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.ttf?v=4.0.3") format("truetype"), url("../../../../../reference/light-blue/css/fonts/font-awesome/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-angle-double-left:before {
    content: "\f100";
}

.fa-angle-double-right:before {
    content: "\f101";
}

.fa-angle-double-up:before {
    content: "\f102";
}

.fa-angle-double-down:before {
    content: "\f103";
}

.fa-angle-left:before {
    content: "\f104";
}

.fa-angle-right:before {
    content: "\f105";
}

.fa-angle-up:before {
    content: "\f106";
}

.fa-angle-down:before {
    content: "\f107";
}
.pagination-container {
    text-align: center;
    height: 60px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
}

.page-item {
    display: inline; /* instead of inline-block */
}

.page-item > a {
    position: relative;
    float: left;

    /* 동그란 모양을 만들기 위한 스타일 */
    border-radius: 50%;
    width: 30px; /* 원하는 크기로 조정하세요 */
    height: 30px; /* 원하는 크기로 조정하세요 */
    line-height :30px; /* height와 같게 설정하세요 */

    text-align:center;

    color:#808080; /* 폰트 색상 변경 */

    background-color:#fff;

    border:none;
    text-decoration:none;
    cursor: pointer;
    /*transition : background-color .3s, color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;*/

    margin-right :10px ;/* 페이지 아이템 간의 간격 설정*/
    /*box-shadow :0px 0px 5px #808080;!* 그림자 효과 추가 *!*/
}

.page-item:nth-child(1) > a,
.page-item:nth-child(2) > a,
.page-item:nth-last-child(2) > a,
.page-item:last-child > a {
    border-radius :50%;
    width :30px ; height :30px ;
    line-height :30px ;
}

.page-item.active > a,
.page-link:focus,
.page-link:hover {
    /*font-weight: bold;*/
    color:#fff !important;/* 활성화 또는 호버 상태에서의 텍스트 색상 변경 */
    background-color: #0563bb!important;/* 배경색 변경 */
}

.page-item > a:hover {
    /*font-weight: bold;*/
    color:#fff !important;/* 활성화 또는 호버 상태에서의 텍스트 색상 변경 */
    background-color: #0563bb!important;/* 배경색 변경 */
}

@media (max-width: 600px) {
    .page-item > a {
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 12px;
    }

    .page-item:nth-child(1) > a,
    .page-item:nth-child(2) > a,
    .page-item:nth-last-child(2) > a,
    .page-item:last-child > a {
        border-radius :50%;
        width :25px; height :25px;
        line-height :25px ;
    }
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader .spinner {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -10px;
    font-size: 20px;
    text-align: center;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@media (prefers-reduced-motion) {
    .animated {
        -webkit-animation: unset !important;
        animation: unset !important;
        -webkit-transition: none !important;
        transition: none !important;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.hide {
    display: none !important;
}

.darkBack {
    background: rgba(51, 51, 51, 0.4) !important;
    border: 1px solid rgba(51, 51, 51, 0.425) !important;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-spinner:before {
    content: "";
}

.dropdown-button {
    background-color: rgba(255, 255, 255, 0);
    padding: 8px;
    font-size: 15px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100%;
    padding: 5px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    border-radius: 5%;
}
.dropdown-content button {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;
}
.dropdown-content button:hover { background-color: #e7e7e7; }
.dropdown:hover .dropdown-content {
    display: inline-block;
    z-index: 9999;
}
/*.dropdown:hover .dropdown-button { background-color: #8c8c8c;}*/

.fa-ellipsis-v:before {
    content: "";
}

.fa-trash-o:before {
    content: "\f014";
}

.fa-edit:before {
    content: "\f044";
}

.edit-text {
    width: 100%;
    margin-top: 10px;
}

.cancel-button {
    background-color: rgba(255,255,255,0);
}

.edit-save-button {
    background-color: rgba(255,255,255,0);
}

/* 게시글 생성 부분 */
.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    margin: 2%;
    /*width: 100%;*/
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
    padding: 10px 12px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.pad {
    padding: 10px
}

.box-header:before,.box-body:before,.box-footer:before,.box-header:after,.box-body:after,.box-footer:after {
    content: " ";
    display: table
}

.box-header:after,.box-body:after,.box-footer:after {
    clear: both
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.collapsed-box .box-header.with-border {
    border-bottom: none
}

.box-header>.fa,.box-header>.glyphicon,.box-header>.ion,.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small {
    font-size: 65%;
}
.h1 .small, .h1 small, .h2 .small, .h2 small, .h3 .small, .h3 small, .h4 .small, .h4 small, .h5 .small, .h5 small, .h6 .small, .h6 small, h1 .small, h1 small, h2 .small, h2 small, h3 .small, h3 small, h4 .small, h4 small, h5 .small, h5 small, h6 .small, h6 small {
    font-weight: 400;
    line-height: 1;
    color: #777;
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
}

.btn-default {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
}
.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn-default {
    color: #333;
    /*background-color: #fff;*/
    border-color: #ccc!important;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#comment-contents {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}

/*--------------------------------------------------------------
# 헤더 (계정 정보)
--------------------------------------------------------------*/
.account-info {
    position: sticky;
    top: 0;
    height: 55px;
    padding-left: 40px;
    padding-right: 70px;
    color: white;
    background: #023b6d;
    opacity: 0.7;
    backdrop-filter: blur(30px);
    z-index: 9997;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.account-info h3 {
    margin-bottom: 0;
    font-family: 'Orbit', sans-serif;
    font-weight: bold;
}

#user-name {
    display: inline-block;
    font-weight: bold;
}

#user-email {
    color: #00d9ff;
}

.profile:hover .detail{
    display: block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.profile .detail {
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 10px 12px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: 0px;
    color: #FFF;
    font-size: 13px;
    line-height: 1.4;
    top: 55px;
}

.profile .detail:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #1E2021;
    right: 102px;
    top: -11px;
}

.profile .detail:after {
    width: 100%;
    height: 40px;
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }

    100% {
        opacity: 100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 100%; }
}

/* messenger.min.js에서 추가되는 영역 안 보이게 설정 */
ul.messenger.messenger-fixed {
    position: fixed;
}

/*--------------------------------------------------------------
# 통계 정보
--------------------------------------------------------------*/
.stats-widget {
    border-radius: 1px;
    box-sizing: content-box;
    padding: 10px 12px;
    color: #45505b;
    border-radius: 3px;
    margin-bottom: 30px;
    position: relative;
}

.no-margin {
    margin: 0 !important;
}

.stats-widget>header h4 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 600;
}

.body h5 {
    font-size: 13px;
    line-height: 20px;
}

.weight-normal {
    font-weight: normal;
}

.overall-stats {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.overall-stats li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    font-size: 13px;
}

.badge {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }

    to {
        background-position: 0 0;
    }
}

.progress {
    overflow: hidden;
    height: 20px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 11.05px;
    line-height: 20px;
    color: white;
    text-align: center;
    background-color: #618fb0;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress-small {
    height: 8px;
}

.progress-striped .progress-bar {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
}

.progress.active .progress-bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

.progress-bar-success {
    background-color: #56bc76;
}
.progress-striped .progress-bar-success {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-info {
    background-color: #4ab0ce;
}

.progress-striped .progress-bar-info {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-warning {
    background-color: #eac85e;
}

.progress-striped .progress-bar-warning {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-bar-danger {
    background-color: #e5603b;
}

.progress-striped .progress-bar-danger {
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.stats-box {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #eceeef;
    box-shadow: 1px 1px 1px rgb(51 51 51 / 7%);
}

.stats-big-text {
    margin-top: 15px;
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    font-weight: bold;
}

.requirement-stats {
    list-style: none;
    padding: 0;
}

.stats-desc {
    font-weight: normal;
    text-align: center;
    margin: 10px -5px;
}

/* 차트 */

.stats-widget.large .body {
    height: 340px;
}

.large .pie-chart {
    height: 240px;
}

.pie-chart {
    position: relative;
}

svg {
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 25px;
}

.nvd3.nv-pie path {
    stroke: #fff;
    stroke-width: 1px;
    stroke-opacity: 1;
}

.nvd3.nv-pie .hover path {
    fill-opacity: .7;
}

.nvd3.nv-pie .nv-label {
    pointer-events: none;
}

.nvd3.nv-pie .nv-label rect {
    fill-opacity: 0;
    stroke-opacity: 0;
}

.nvd3.nv-pie .nv-slice text {
    stroke: #000;
}

.pie-chart .total {
    text-align: center;
    position: absolute;
    left: 0;
    top: 50%;
}

.pie-chart .requirements {
    font-weight: 300;
    font-size: 16.25px;
}

.no-requirement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nvtooltip {
    padding: 5px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    z-index: 10000;
    font-family: inherit;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    border-radius: 3px;
    transition: none;
    -moz-transition: none;
    -webkit-transition: none;
}

.nvtooltip h3, .nvtooltip h4 {
    margin: 0;
    padding: 0;
    font-size: 13px;
    text-align: center;
}

.nvtooltip p {
    margin: 0;
    padding: 0;
    text-align: center;
}

.stats-widget > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.pie-chart-footer .controls {
    margin-top: 16px;
    width: 100%;
}

.pie-chart-footer .control {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background: rgba(51, 51, 51, 0.25);
    text-align: center;
    font-weight: normal;
    padding: 3px 2%;
    color: white;
    width: 20.625%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    margin-left: 0.5%;
    float: left;
}

.pie-chart-footer .control:first-child {
    border-bottom-left-radius: 1px;
    margin-left: 0;
}

.pie-chart-footer .control:last-child {
    border-bottom-right-radius: 1px;
}

.pie-chart-footer .control.disabled {
    border-top: 3px solid transparent !important;
}

.pie-chart-footer .control .key {
    font-size: 12px;
    font-weight: normal;
    margin: 0;
}

.pie-chart-footer .control .value {
    font-size: 16.25px;
    font-weight: bold;
    margin-bottom: 5px;
}

.font11 {
    font-family: "Nanum Gothic";
    font-size: 11px;
    color: #f8f8f8;
}

/*--------------------------------------------------------------
# 요구사항 상세
--------------------------------------------------------------*/
#detailview_req_contents{
  height:645px;
}
@media (max-width: 1400px){
    #detailview_req_contents{
      height:695px;
    }
}

@media (max-width: 1220px){
    #detailview_req_contents{
      height:805px;
    }
}

@media (max-width: 1200px){
    #detailview_req_contents{
      height:875px;
    }
}

@media (max-width: 1030px){
    #detailview_req_contents{
      height:930px;
    }
}

.detailview_title{
    word-break: keep-all;
}

.detail-item{
    border-radius: 3px;
     padding: 20px 20px 10px 20px;
}

.text-truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-truncate:hover {
    cursor: help;
}

.text-truncate.show-full {
 animation: slide-in 4s linear backwards;
}

@keyframes slide-in {
    from { text-indent: 0%; }
    to { text-indent: -30%; }
}

/* 상세 보기 확대 버튼*/
.view-btn {
    background-color: #0678e3;
    color: white;
    border: none;
    text-align: center;
     opacity: .5;
     position: absolute;
     top: 10px;
     right: 10px;
     width:40px;
     height:40px;
     border-radius:0.5rem;
     display:flex;        /* flexbox 모델 적용 */
     justify-content:center;  /* 가로축에서 중앙 정렬 */
     align-items:center;   /* 세로축에서 중앙 정렬 */

}
#view_allreq_btn{
     display:none;
}

.view-btn:hover {
   opacity :1;
}
.modal{
    z-index:10001;
}
.modal-content{
    height: 80vh;
}
.modal-dialog{
    width: 65vw;
    max-width: 100%;
    margin: auto;
    margin-top: 55px;
}
@media (max-width: 500px) {
  .modal-dialog {
    width: 90vw;
    margin:auto;
    margin-top: 45px;
  }
}

.view-btn i {
    font-size: 24px !important;
    margin-right: initial !important;
    color: white !important;
    line-height: initial !important;
}

@media (max-width: 500px){
   .view-btn {
       background-color: #0678e3;
       color: white;
       border: none;
       text-align: center;
        opacity: .5;
        position: absolute;
        top: 10px;
        right: 10px;
        width:25px;
        height:25px;
        border-radius:0.5rem;
        display:flex;        /* flexbox 모델 적용 */
        justify-content:center;  /* 가로축에서 중앙 정렬 */
        align-items:center;   /* 세로축에서 중앙 정렬 */
   }
   .view-btn i {
       font-size: 14px !important;
       margin-right: initial !important;
       color: white !important;
       line-height: initial !important;
   }
}

/*--------------------------------------------------------------
# 요구사항 목록
--------------------------------------------------------------*/
#allreq_pdservice_name{
    color: #0563bb;
}
#allreq_pdservice_version{
    color: #0563bb;
}

#allreq_pdservice_content{
    height:315px;
}

@media (max-width: 1220px){
    #allreq_pdservice_content{
      height: 290px;
    }
}
@media (max-width: 1200px){
    #allreq_pdservice_content{
      height:245px;
    }
}

@media (max-width: 1030px){
    #allreq_pdservice_content{
      height:195px;
    }
}

.slimScrollDiv {
    height:720px !important;
}
#req_tree{
    height:720px !important;
}


/*--------------------------------------------------------------
# 버전
--------------------------------------------------------------*/
.version .version-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #45505b;
}

.version .version-subtitle {
    display: flex;
    align-items: center;
    margin-top: 12px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.version .version-subtitle i {
    font-size: 16px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
}

#version-product-name {
    font-size: 17px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
}

#version-name {
    font-size: 17px;
    margin-right: 5px;
    color: #0563bb;
    line-height: 0;
}

.version .version-item {
    margin-top: -2px;
    position: relative;
    border-radius: 3px;
}

.version .version-list {
    padding: 10px 17px;
}

.panel {
    border: none;
    background-color: #eceeef;
    box-shadow: 1px 1px 1px rgb(51 51 51 / 7%);
    border-radius: 5px;
    margin-bottom: 5px;
    color: black;
}

.panel:last-child {
    margin-bottom: 0;
}

.panel-heading>a {
    color: black;
}

.panel-heading>.accordion-toggle {
    display: block;
    padding: 8px 15px;
}

.version .version-content {
    padding: 10px;
    border-radius: 3px;
}

.version-content ul {
    padding-left: 0;
}

.version-content ul li {
    padding-bottom: 20px;
    align-items: center;
}

.version-content ul li:nth-child(2) {
    margin-bottom: 25px;
}

.version-content ul li:nth-child(3) {
    padding-bottom: 0;
    margin-bottom: 10px;
}

.version-content ul li:last-child {
    padding-bottom: 0;
}

.version .version-content ul i {
    color: #0563bb;
}

.version-scroll .slimScrollDiv {
    height: auto !important;
}

/* 요구사항 전체 목록 테스트 부분 */
.dd {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px;
    max-width: 600px;
    list-style: none;
    font-size: 13px;
    line-height: 20px;
    height: 720px;
    overflow: hidden;
}

.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
}

.dd-item, .dd-empty, .dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    display: block;
    min-height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    color: #666;
    text-decoration: none;
    background: #fff;
    -webkit-box-shadow: 0 -1px 1px rgba(103,103,103,0.4), 0 1px 1px rgba(103,103,103,0.4);
    -moz-box-shadow: 0 -1px 1px rgba(103,103,103,0.4),0 1px 1px rgba(103,103,103,0.4);
    box-shadow: 0 -1px 1px rgba(103,103,103,0.4), 0 1px 1px rgba(103,103,103,0.4);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 5px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    color: #666;
}

.dd-item>button:before {
    content: '+';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
}

.dd-item>button[data-action="collapse"]:before {
    content: '-'
}

.dd-handle:hover,
.dd-handle:focus {
    background-color:#0563bb;
    color: white;
}

.fa-clipboard:before {
    content: "\f0ea";
}

.fa-files-o:before {
    content: "\f0c5";
}

.fa-file-text-o:before {
    content: "\f0f6";
}