<ul id="side-nav"
	class="side-nav">
	<li style="padding-top: 40px;"
		id="sidebar_menu_dashboard">
		<a href="index.html?page=devtools">
			<i class="fa fa-home"></i>
			<span class="name">DevTools</span>
		</a>
	</li>
    <li id="sidebar_menu_contributors">
        <a href="index.html?page=contributors">
            <i class="fa fa-home"></i>
            <span class="name">Contributors</span>
        </a>
    </li>
</ul>

<h5 class="sidebar-nav-title">
	Labels
	<a class="action-link"
		href="#">
		<i class="glyphicon glyphicon-plus"></i>
	</a>
</h5>
<!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
<ul class="sidebar-labels">
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #a4c6ff;"></i>
			<span class="label-name font11">데이터 ( data )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #e5603b;"></i>
			<span class="label-name font11">선택된 ( selected )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #E49400;"></i>
			<span class="label-name font11">유틸 ( util )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-circle text-primary"></i>
			<span class="label-name font11">신규 ( insert )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle text-success"></i>
			<span class="label-name font11">수정 ( update )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-circle text-danger"></i>
			<span class="label-name font11">삭제 ( delete )</span>
		</a>
	</li>
</ul>

<h5 class="sidebar-nav-title">Projects</h5>
<!-- A place for sidebar notifications & alerts -->
<div class="sidebar-alerts">
	<div class="alert fade in">
		<a href="#"
			class="close"
			data-dismiss="alert"
			aria-hidden="true">
			&times;
		</a>
		<span class="text-white fw-semi-bold">Sales Report</span>
		<br />
		<div class="progress progress-xs mt-xs mb-0">
			<div class="progress-bar progress-bar-gray-light"
                 style="width: 16%"></div>
		</div>
		<small>Calculating x-axis bias... 65%</small>
	</div>
</div>