<ul
	id="side-nav"
	class="side-nav">

    <li class="category-wrap"
        id="menu_login"
        style="padding-top: 40px;">
		<span   class="category-label"
                id="sidebar_menu_dashboard">
			<i  class="fa fa-unlock-alt"
                style="margin-top: 3px;"></i>
			<ul id="dashboard_elements_collapse">
                <li class=""
                    id="sidebar_menu_dashboard_home">
                    <a href="/arms/template.html?page=dashboard"
                       style="padding: 4px 10px 4px 15px; !important;">ARMS Login</a>
                </li>
            </ul>
		</span>
    </li>

    <li class="category-wrap hide"
        id="menu_dashboard"
        style="padding-top: 40px;">
		<span   class="category-label"
                id="sidebar_menu_dashboard">
			<i  class="fa fa-dashboard"
                style="margin-top: 2px;"></i>
			<ul id="dashboard_elements_collapse">
                <li class=""
                    id="sidebar_menu_dashboard_home">
                    <a href="/arms/template.html?page=dashboard"
                        style="padding: 4px 10px 4px 15px; !important;">Dashboard</a>
                </li>
            </ul>
		</span>
    </li>

	<li class="category-wrap hide"
        id="menu_product"
        style="padding-top: 10px;">
		<span   class="category-label"
			    id="sidebar_menu_product">
			<i class="fa fa-cubes"></i>
			Product <sup>service</sup>
		</span>
		<ul id="product_elements_collapse">
			<li class=""
				id="sidebar_menu_product_manage">
				<a href="/arms/template.html?page=pdService" data-locale="nav.product.p">제품 관리</a>
			</li>
			<li class=""
				id="sidebar_menu_version_manage">
				<a href="/arms/template.html?page=pdServiceVersion" data-locale="nav.product.v">버전 관리</a>
			</li>

		</ul>
	</li>

    <li class="category-wrap hide"
        id="menu_alm"
        style="padding-top: 10px;">
        <span class="category-label"
              id="sidebar_menu_jira">
            <img src="./img/jira/mark-gradient-neutral-jira.svg"
                 id="side_jira_neutral_icon"
                 class="hidden"
                 width="17px"
                 style="margin-right: 3px"></img>
            <img src="./img/jira/mark-gradient-white-jira.svg"
                 id="side_jira_white_icon"
                 width="17px"
                 style="margin-right: 3px"></img>
            ALM <sup>jira,gitlab,etc.</sup>
        </span>
        <ul id="jira_elements_collapse">
            <li class=""
                id="sidebar_menu_jira_manage">
                <a href="/arms/template.html?page=jiraServer" data-locale="nav.alm.s">서버 관리</a>
            </li>
            <li class=""
                id="sidebar_menu_product_jira_connect">
                <a href="/arms/template.html?page=jiraConnection" data-locale="nav.alm.c">연결 관리</a>
            </li>
        </ul>
    </li>

	<li class="category-wrap hide"
        id="menu_requirement"
        style="padding-top: 10px;">
		<span   class="category-label"
			    id="sidebar_menu_requirement">
			<i class="fa fa-table"></i>
			Requirement
		</span>
		<ul id="requirement_elements_collapse">
			<li class=""
				id="sidebar_menu_requirement_regist">
				<a href="/arms/template.html?page=reqAdd" data-locale="nav.requirement.q">요구 관리</a>
			</li>
			<li class=""
				id="sidebar_menu_requirement_status">
				<a href="/arms/template.html?page=reqStatus" data-locale="nav.requirement.s">현황 관리</a>
			</li>
            <li class=""
                id="sidebar_menu_requirement_gantt">
                <a href="/arms/template.html?page=reqGantt" data-locale="nav.requirement.g">간트 차트<span class="font12"> - Gantt</span></a>
            </li>
            <li class=""
                id="sidebar_menu_requirement_kanban">
                <a href="/arms/template.html?page=reqKanban" data-locale="nav.requirement.k">칸반 보드<span class="font12"> - Kanban</span></a>
            </li>
		</ul>
	</li>

    <li class="category-wrap hide"
        id="menu_analysis"
        style="padding-top: 10px;">
		<span   class="category-label"
                id="sidebar_menu_analysis">
			<i class="fa fa-bar-chart-o"></i>
			Analysis
		</span>
        <ul id="analysis_elements_collapse">
            <li class=""
                id="sidebar_menu_analysis_time">
                <a href="/arms/template.html?page=analysisTime" data-locale="nav.analysis.t">일정 분석<span class="font12"> - Time</span></a>
            </li>
            <li class=""
                id="sidebar_menu_analysis_scope">
                <a href="/arms/template.html?page=analysisScope" data-locale="nav.analysis.s">범위 분석<span class="font12"> - Scope</span></a>
            </li>
            <li class=""
                id="sidebar_menu_analysis_resource">
                <a href="/arms/template.html?page=analysisResource" data-locale="nav.analysis.r">자원 분석<span class="font12"> - Resource</span></a>
            </li>
			<li class=""
				id="sidebar_menu_analysis_cost">
				<a href="/arms/template.html?page=analysisCost" data-locale="nav.analysis.c">비용 분석<span class="font12"> - Cost</span></a>
			</li>
        </ul>
    </li>

    <li class="category-wrap"
        id="menu_community"
        style="padding-top: 10px;">
		<span   class="category-label"
                id="sidebar_menu_community">
			<i class="fa fa-child"></i>
            <ul id="community_elements_collapse_home">
                <li class=""
                    id="sidebar_menu_community_home">
                    <a href="/php/gnuboard5/"
                       style="padding: 4px 10px 4px 15px; !important;">Community</a>
                </li>
            </ul>
		</span>
        <ul id="community_elements_collapse">
            <li class=""
                id="sidebar_menu_community_notice">
                <a href="/php/gnuboard5/bbs/board.php?bo_table=notice" data-locale="nav.community.n">공지 사항</a>
            </li>
            <li class=""
                id="sidebar_menu_community_qa">
                <a href="/php/gnuboard5/bbs/board.php?bo_table=qa" data-locale="nav.community.q">문의 답변</a>
            </li>
            <li class=""
                id="sidebar_menu_community_releasenote">
                <a href="/php/gnuboard5/bbs/board.php?bo_table=releasenote" data-locale="nav.community.p">업데이트 노트</a>
            </li>
            <li class=""
                id="sidebar_menu_community_manual">
                <a href="/php/gnuboard5/bbs/board.php?bo_table=manual" data-locale="nav.community.m">사용자 메뉴얼</a>
            </li>
            <li class=""
                id="sidebar_menu_community_devtools">
                <a href="/arms/template.html?page=community_devtools" data-locale="nav.community.t">관리 도구</a>
            </li>
            <li class=""
                id="sidebar_menu_community_contributors">
                <a href="/arms/template.html?page=community_contributors" data-locale="nav.community.c">만든 사람</a>
            </li>
            <li class=""
                id="sidebar_menu_community_license">
                <a href="/arms/template.html?page=community_license" data-locale="nav.community.l">라이 선스</a>
            </li>
        </ul>
    </li>

</ul>

<h5 class="sidebar-nav-title">
	Labels
	<a
		class="action-link"
		href="#">
		<i class="glyphicon glyphicon-plus"></i>
	</a>
</h5>
<!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
<ul class="sidebar-labels">
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #a4c6ff;"></i>
			<span class="label-name font11">데이터 ( data )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #e5603b;"></i>
			<span class="label-name font11">선택된 ( selected )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #E49400;"></i>
			<span class="label-name font11">유틸 ( util )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-circle text-primary"></i>
			<span class="label-name font11">저장 ( insert )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle text-success"></i>
			<span class="label-name font11">수정 ( update )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-circle text-danger"></i>
			<span class="label-name font11">삭제 ( delete )</span>
		</a>
	</li>
</ul>

<h5 class="sidebar-nav-title">System</h5>
<!-- A place for sidebar notifications & alerts -->
<div class="sidebar-alerts">
	<div class="alert fade in">
		<a  href="#"
			class="close"
			data-dismiss="alert"
			aria-hidden="true">
			&times;
		</a>
		<span class="text-white">Daily Report</span>
		<br />
		<div class="progress progress-xs mt-xs mb-0">
			<div
				class="progress-bar progress-bar-gray-light"
				style="width: 16%"></div>
		</div>
		<small>Calculating x-axis business... 65%</small>
	</div>
</div>
