<div class="navbar">

	<ul class="nav navbar-nav navbar-right pull-right" style="display: flex; align-items: center;">
		<li class="hidden-xs">
			<div class="controls input-group pull-right">
				<input
					type="search"
					class="form-control searchDarkBack"
					id="nav-search-input"
					placeholder="Quick Search" />
				<span
					class="input-group-btn"
					id="nav-search-button">
				<button
					type="button"
					class="btn btn-default">
					<i class="fa fa-search"></i>
				</button>
			</span>
			</div>
		</li>

		<li class="dropdown">
			<a  href="#"
				title="Messages"
				id="messages"
				class="dropdown-toggle"
				data-toggle="dropdown">
				<i class="glyphicon glyphicon-comment"></i>
			</a>
			<ul id="messages_menu"
				class="dropdown-menu messages"
				role="menu">
				<li role="presentation">
					<a  href="#"
						class="message">
						<img    src="../reference/lightblue4/docs/img/1.png"
							    alt="" />
						<div class="details">
							<div class="sender">Jane Hew</div>
							<div class="text">Hey, John! How is it going? ...</div>
						</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="message">
						<img    src="../reference/lightblue4/docs/img/2.png"
						    	alt="" />
						<div class="details">
							<div class="sender">Alies Rumiancaŭ</div>
							<div class="text">I'll definitely buy this template</div>
						</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="message">
						<img    src="../reference/lightblue4/docs/img/3.png"
							    alt="" />
						<div class="details">
							<div class="sender">Michał Rumiancaŭ</div>
							<div class="text">Is it really Lore ipsum? Lore ...</div>
						</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="text-align-center see-all">
						See all messages
						<i class="fa fa-arrow-right"></i>
					</a>
				</li>
			</ul>
		</li>
		<li class="dropdown">
			<a  href="#"
				title="8 support tickets"
				class="dropdown-toggle"
				data-toggle="dropdown">
				<i class="glyphicon glyphicon-globe"></i>
				<span class="count">8</span>
			</a>
			<ul id="support_menu"
				class="dropdown-menu support"
				role="menu">
				<li role="presentation">
					<a  href="#"
						class="support-ticket">
						<div class="picture">
							<span class="label label-important"><i class="fa fa-bell-o"></i></span>
						</div>
						<div class="details">Check out this awesome ticket</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="support-ticket">
						<div class="picture">
							<span class="label label-warning"><i class="fa fa-question-circle"></i></span>
						</div>
						<div class="details">"What is the best way to get ...</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="support-ticket">
						<div class="picture">
							<span class="label label-success"><i class="fa fa-tag"></i></span>
						</div>
						<div class="details">This is just a simple notification</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="support-ticket">
						<div class="picture">
							<span class="label label-info"><i class="fa fa-info-circle"></i></span>
						</div>
						<div class="details">12 new orders has arrived today</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="support-ticket">
						<div class="picture">
							<span class="label label-important"><i class="fa fa-plus"></i></span>
						</div>
						<div class="details">One more thing that just happened</div>
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="text-align-center see-all">
						See all tickets
						<i class="fa fa-arrow-right"></i>
					</a>
				</li>
			</ul>
		</li>
		<li class="divider"></li>
		<li class="hidden-xs">
			<a  href="#"
				id="settings"
				title="Settings"
				data-toggle="popover"
				data-placement="bottom">
				<i class="glyphicon glyphicon-cog"></i>
			</a>
		</li>
		<li class="hidden-xs dropdown">
			<a  href="#"
				title="Account"
				id="account"
				class="dropdown-toggle"
				data-toggle="dropdown">
				<i class="glyphicon glyphicon-user"></i>
			</a>
			<ul id="account_menu"
				class="dropdown-menu account"
				role="menu">
				<li role="presentation"
					class="account-picture">

				</li>
				<li role="presentation">
					<a  href="#"
						class="link">
						<i class="fa fa-user"></i>
						Profile
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="link">
						<i class="fa fa-calendar"></i>
						Calendar
					</a>
				</li>
				<li role="presentation">
					<a  href="#"
						class="link">
						<i class="fa fa-inbox"></i>
						Inbox
					</a>
				</li>
			</ul>
		</li>
		<li class="visible-xs">
			<a  href="#"
				class="btn-navbar"
				data-toggle="collapse"
				data-target=".sidebar"
				title="">
				<i class="fa fa-bars"></i>
			</a>
		</li>
		<li class="hidden-xs logout">
			<a href="#"
					class="link logout"><i class="glyphicon glyphicon-off"></i></a>
		</li>
	</ul>
    <div class="notifications pull-right" style="line-height: 21px !important;"></div>
</div>

<script>

	(function ($) {
		$("#nav-search-input").on("keyup", function(event) {
			if(event.keyCode ===13) {
				console.log("[page-header :: nav-search-input] :: 검색어 입력 값 => " +$("#nav-search-input").val());
				$("#nav-search-button").click(); //검색 트리거
			};
		});

		$("#nav-search-button").on("click", function (event) {
			let 검색어 = "";
			console.log("[page-header :: nav-search-start] :: nav-search-button 실행");
			if ($("#nav-search-input").val()) {
				console.log("[page-header :: nav-search-start] :: 검색어 입력 값 => " +$("#nav-search-input").val());
				검색어 = $("#nav-search-input").val().trim();
				goToTemplatePageWithSearchString("searchEngine", 검색어);
			} else {
				console.log("[page-header :: nav-search-start] :: 검색어가 없습니다. 검색페이지로 이동합니다");
				goToTemplatePage("searchEngine");
			}
		});

		$(".logout").click(function (event) {

			event.preventDefault();
			event.stopPropagation();

			$.ajax({
				url: "/logout",
				type: "post",
				contentType: "application/json;charset=UTF-8",
				statusCode: {
					200: function (data) {
						location.href = "/";
					},

				},
				beforeSend: function () {
				},
				complete: function () {
				}
			});


		});
	})(jQuery);

</script>

