<ul
	id="side-nav"
	class="side-nav">

    <li class="category-wrap" style="padding-top: 40px;">
		<span   class="category-label"
                id="sidebar_menu_dashboard">
			<i class="fa fa-dashboard"></i>
			<ul id="dashboard_elements_collapse">
                <li class=""
                    id="sidebar_menu_dashboard">
                    <a href="template.html?page=dashboard"
                        style="padding: 4px 10px 4px 15px; !important;">Dashboard</a>
                </li>
            </ul>
		</span>
    </li>

	<li class="category-wrap" style="padding-top: 10px;">
		<span   class="category-label"
			    id="sidebar_menu_product">
			<i class="fa fa-cubes"></i>
			Product<sup>service</sup>
		</span>
		<ul id="product_elements_collapse">
			<li class=""
				id="sidebar_menu_product_manage">
				<a href="template.html?page=pdService">등록 관리</a>
			</li>
			<li class=""
				id="sidebar_menu_version_manage">
				<a href="template.html?page=pdServiceVersion">버전 관리</a>
			</li>

		</ul>
	</li>

    <li class="category-wrap" style="padding-top: 10px;">
        <span class="category-label"
              id="sidebar_menu_jira">
            <img src="./img/jira/mark-gradient-neutral-jira.svg"
                 id="side_jira_neutral_icon"
                 class="hidden"
                 width="17px"
                 style="margin-right: 3px"></img>
            <img src="./img/jira/mark-gradient-white-jira.svg"
                 id="side_jira_white_icon"
                 width="17px"
                 style="margin-right: 3px"></img>
            JIRA
        </span>
        <ul id="jira_elements_collapse">
            <li class=""
                id="sidebar_menu_jira_manage">
                <a href="template.html?page=jiraConnection">등록 관리</a>
            </li>
            <li class=""
                id="sidebar_menu_product_jira_connect">
                <a href="template.html?page=pdServiceJira">연결 관리</a>
            </li>
        </ul>
    </li>

	<li class="category-wrap" style="padding-top: 10px;">
		<span   class="category-label"
			    id="sidebar_menu_requirement">
			<i class="fa fa-table"></i>
			Requirement
		</span>
		<ul id="requirement_elements_collapse">
			<li class=""
				id="sidebar_menu_requirement_regist">
				<a href="template.html?page=reqAdd">등록 관리</a>
			</li>
			<li class=""
				id="sidebar_menu_requirement_status">
				<a href="template.html?page=reqStatus">현황 관리</a>
			</li>
		</ul>
	</li>

    <li class="category-wrap" style="padding-top: 10px;">
		<span   class="category-label"
                id="sidebar_menu_analysis">
			<i class="fa fa-bar-chart-o"></i>
			Analysis
		</span>
        <ul id="analysis_elements_collapse">
            <li class=""
                id="sidebar_menu_analysis_gantt">
                <a href="template.html?page=analysisGantt">간트 차트<span class="font12"> - Gantt</span></a>
            </li>
            <li class=""
                id="sidebar_menu_analysis_time">
                <a href="template.html?page=analysisTime">일정 분석<span class="font12"> - Time</span></a>
            </li>
            <li class=""
                id="sidebar_menu_analysis_scope">
                <a href="template.html?page=analysisScope">범위 분석<span class="font12"> - Scope</span></a>
            </li>
            <li class=""
                id="sidebar_menu_analysis_resource">
                <a href="template.html?page=analysisResource">자원 분석<span class="font12"> - Resource</span></a>
            </li>
            <li class=""
                id="sidebar_menu_analysis_cost">
                <a href="template.html?page=analysisCost">비용 분석<span class="font12"> - Cost</span></a>
            </li>
        </ul>
    </li>

    <li class="category-wrap" style="padding-top: 10px;">
		<span   class="category-label"
                id="sidebar_menu_management">
			<i class="fa fa-codepen"></i>
			Management
		</span>
        <ul id="management_elements_collapse">
            <li class=""
                id="sidebar_menu_management_document">
                <a href="./docs">문서 관리</a>
            </li>
            <li class=""
                id="sidebar_menu_management_devtools">
                <a href="template.html?page=devtools">개발 툴</a>
            </li>
            <li class=""
                id="sidebar_menu_management_license">
                <a href="template.html?page=license">라이 선스</a>
            </li>
        </ul>
    </li>

</ul>

<h5 class="sidebar-nav-title">
	Labels
	<a
		class="action-link"
		href="#">
		<i class="glyphicon glyphicon-plus"></i>
	</a>
</h5>
<!-- some styled links in sidebar. ready to use as links to email folders, projects, groups, etc -->
<ul class="sidebar-labels">
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #a4c6ff;"></i>
			<span class="label-name font11">데이터 ( data )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #e5603b;"></i>
			<span class="label-name font11">선택된 ( selected )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle" style="color: #E49400;"></i>
			<span class="label-name font11">유틸 ( util )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-circle text-primary"></i>
			<span class="label-name font11">신규 ( insert )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<!-- yep, .circle again -->
			<i class="fa fa-circle text-success"></i>
			<span class="label-name font11">수정 ( update )</span>
		</a>
	</li>
	<li>
		<a href="#">
			<i class="fa fa-circle text-danger"></i>
			<span class="label-name font11">삭제 ( delete )</span>
		</a>
	</li>
</ul>

<h5 class="sidebar-nav-title">Projects</h5>
<!-- A place for sidebar notifications & alerts -->
<div class="sidebar-alerts">
	<div class="alert fade in">
		<a  href="#"
			class="close"
			data-dismiss="alert"
			aria-hidden="true">
			&times;
		</a>
		<span class="text-white fw-semi-bold">Sales Report</span>
		<br />
		<div class="progress progress-xs mt-xs mb-0">
			<div
				class="progress-bar progress-bar-gray-light"
				style="width: 16%"></div>
		</div>
		<small>Calculating x-axis bias... 65%</small>
	</div>
</div>
