:root {
/*    --jexcel_header_color: #FFF;
    --jexcel_header_color_highlighted: #A4C6FF;
    --jexcel_header_background: #515151;
    --jexcel_header_background_highlighted: #777;

    --jexcel_content_color: #FFF;
    --jexcel_content_color_highlighted: #A4C6FF;
    --jexcel_content_background: #3e3e3e;
    --jexcel_content_background_highlighted: #777;

    --jexcel_menu_background: #7e7e7e;
    --jexcel_menu_background_highlighted: #ebebeb;
    --jexcel_menu_color: #ddd;
    --jexcel_menu_color_highlighted: #222;

    --jexcel_border_color: #5f5f5f;
    --jexcel_border_color_highlighted: #999;

    --active_color: #eee;
    --active-color: var(--active_color);*/

    --jexcel_header_color: #000;
    --jexcel_header_color_highlighted: #000;
    --jexcel_header_background: #f3f3f3;
    --jexcel_header_background_highlighted: #dcdcdc;
    --jexcel_content_color: #000;
    --jexcel_content_color_highlighted: #000;
    --jexcel_content_background: #fff;
    --jexcel_content_background_highlighted: rgba(0,0,0,0.05);
    --jexcel_menu_background: #fff;
    --jexcel_menu_background_highlighted: #ebebeb;
    --jexcel_menu_color: #555;
    --jexcel_menu_color_highlighted: #555;
    --jexcel_menu_box_shadow: 2px 2px 2px 0px rgba(143, 144, 145, 1);
    --jexcel_border_color: #ccc;
    --jexcel_border_color_highlighted: #000;
    --active_color: #007aff;
}

.jexcel tbody tr:nth-child(even) td{
    background-color: #E6E6E6 !important;
}

.jexcel {
    background: #DDD;
}

.jexcel_pagination {
    max-height: 40px;
}
.jexcel_toolbar {
    margin: 0 !important;
}

.jexcel_container .jexcel_content {
    box-shadow: none !important;
}
